//
// Pricing Component Mobile
// 

// colors
$slider-empty: hsl(224, 65%, 95%);
$slider-thumb: hsl(174, 86%, 45%);;
$slider-progress: hsl(174, 77%, 80%);
$toggle-background: hsl(223, 50%, 87%);
$text-color: hsl(225, 20%, 60%);
$dark-text: hsl(227, 35%, 25%);
$discount-background: hsl(14, 92%, 95%);
$discount-text: hsl(15, 100%, 70%);

#pricingMobileContainer {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 325px;
    height: 475px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px -2px rgba(133,143,173, 0.2);
    background-color: #fff;
    margin-top: 35px;

    #infoMobile {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: 140px;
        margin-top: 30px;
        font-size: 14px;
        color: $text-color;
        // background-color: rgba(0, 0, 0, 0.2);

        #optionMobile {
            z-index: 2;
            font-weight: 600;
        }
        
        #sliderMobileContainer {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            // slider dimensions
            $height: 100px;
            $thumb-height: 40px;
            $track-height: 8px;

            .sliderMobile {
                position: absolute;
                width: 285px;
                height: $height;
                margin-top: 45px;
                -webkit-appearance: none;
                -moz-appearance: none;

                &:focus {
                    outline: none;
                }

                // webkit (Chrome, Safari)
                &::-webkit-slider-runnable-track {
                    height: $track-height;
                    border: none;
                    border-radius: $track-height;
                    background: $slider-empty;
                }

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    width: $thumb-height;
                    height: $thumb-height;
                    margin-top: -16px;
                    border: 0;
                    border-radius: 50%;
                    background-color: $slider-thumb;
                    background-image: url('../../images/icon-slider.svg');
                    background-repeat: no-repeat;
                    background-size: auto;
                    background-position: center;
                    box-shadow: 0px 15px 25px 2px $slider-progress;

                    &:active {
                        background-color: #79e7da;
                    }
                }

                // Firefox
                &::-moz-range-track {
                    height: $track-height;
                    border: none;
                    border-radius: $track-height;
                    background-color: $slider-empty;
                }

                &::-moz-range-thumb {
                    width: $thumb-height;
                    height: $thumb-height;
                    margin-top: -16px;
                    border: 0;
                    border-radius: 50%;
                    background-color: $slider-thumb;
                    background-image: url("../../images/icon-slider.svg");
                    background-repeat: no-repeat;
                    background-size: auto;
                    background-position: center;
                    box-shadow: 0px 15px 25px 2px $slider-progress;

                    &:active {
                        background-color: #79e7da;
                    }
                }

                &::-moz-range-progress {
                    height: $track-height;
                    border-radius: $track-height;
                    background-color: $slider-progress;
                }

                // Internet Explorer 
                &::-ms-fill-lower {
                    background-color: $slider-progress;
                }

                &::-ms-fill-upper {
                    background-color: $slider-empty;
                }
            }
            .progressMobile {
                height: $track-height;
                background-color: $slider-progress;
                position: absolute;
                top: 41px;
                left: 7px;
                border-radius: $track-height;
                pointer-events: none;
            }
        }

        #priceMobile {
            display: flex;
            align-items: center;
            position: absolute;
            margin-top: 110px;
            span {
                font-size: 35px;
                font-weight: 800;
                color: $dark-text;
            }
        }
    }

    #paymentToggleMobile {
        position: relative;
        top: 50px;
        font-size: 12px;
        color: $text-color;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 30px;
        margin-bottom: 40px;

        .switchMobile {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 21px;
            margin: 0 15px;

            .roundSwitchMobile {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-color: $toggle-background;
                transition: 400ms;
                border: 0;
                border-radius: 21px;

                &:before {
                    position: absolute;
                    content: "";
                    height: 15px;
                    width: 15px;
                    left: 3px;
                    bottom: 3px;
                    border-radius: 50%;
                    background-color: #fff;
                    transition: 400ms;
                }
            }

            input[type=checkbox] {
                display: none;

                &:checked + .roundSwitchMobile:before {
                    transform: translateX(19px);
                    -webkit-transform: translateX(19px);
                    -ms-transform: translateX(19px);
                    -moz-transform: translateX(19px);
                }
            }
        }

        #discountLabelMobile {
            font-size: 10px;
            font-weight: 800;
            color: $discount-text;
            background-color: $discount-background;
            margin: 0 5px;
            padding-top: 2px;
            width: 40px;
            height: 18px;
            border-radius: 18px;
            text-align: center;
        }
    }
}